﻿<!--Llamando al modelo desde el inicio de la pagina para que desde el controller se puedan traer los datos-->
@model List<Practicaspnet.Models.Contacto>
@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<!--Aqui iria el div a poner de lo que sea-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class='page-header'>Agenda en Bootstrap</h4>
            <button type="button" id=add class="btn btn-primary" data-toggle="modal" data-target="#modal_agregar_contactos">Agregar Contactos.</button>
        </div>

        <!--Modal para agregar contactos-->
        <div class="modal" id="modal_agregar_contactos">

            <!--Tamaño del modal-->
            <div class="modal-dialog modal-xl modal-dialog-scrollable">

                <!--Contenido del modal-->
                <div class="modal-content">

                    <!--Encabezado del modal-->
                    <div class="modal-header">

                        <!--Boton de cierre en la esquina superior del modal-->
                        <button type="button" class="close justify-content-end" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <!--Titulo en el encabezado del modal-->
                        <h4>Nuevo contacto</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">

                        <!--Fila que encierra los campos del formulario-->
                        <div class="row">

                            <!--Columna de nombre, telefono, direccion, email-->
                            <div class="col-sm-6">

                                <!--Nombre-->
                                <label><b>Nombre</b></label>
                                <input type="text" class="form-control" id="nombre_contacto" />

                                <!--Telefono-->
                                <label><b>Teléfono</b></label>
                                <input type="tel" class="form-control" id="telefono_contacto" />

                                <!--Direccion-->
                                <label><b>Dirección</b></label>
                                <input type="text" class="form-control" id="direccion_contacto" />

                                <!--Email-->
                                <label><b>Correo electrónico</b></label>
                                <input type="email" class="form-control" id="email_contacto" />

                            </div>
                        </div>

                        <!--Modal footer-->
                        <div class="modal-footer" style="margin-top:1%">
                            <!--Boton para enviar el formulario-->
                            <!--Agregue un id al boton para que entonces ese id se ejecute en el Contacto.js-->
                            <button type="button" class="btn btn-primary" id="add"><b>Grabar</b></button>

                            <!--Boton para cerrar-->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>




        <!--------------------------MODAL PARA EDITAR CONTACTOS------------------------------>



        <div class="modal" id="modal_editar_contactos">

            <!--Tamaño del modal-->
            <div class="modal-dialog modal-xl modal-dialog-scrollable">

                <!--Contenido del modal-->
                <div class="modal-content">

                    <!--Encabezado del modal-->
                    <div class="modal-header">

                        <!--Boton de cierre en la esquina superior del modal-->
                        <button type="button" class="close justify-content-end" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <!--Titulo en el encabezado del modal-->
                        <h4>Editando contacto</h4>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">

                        <!--Fila que encierra los campos del formulario-->
                        <div class="row">

                            <!--Columna de nombre, telefono, direccion, email-->
                            <div class="col-sm-6">

                                <!--Nombre-->
                                <label><b>Nombre</b></label>
                                <input type="text" class="form-control" id="nombre_contacto" />

                                <!--Telefono-->
                                <label><b>Teléfono</b></label>
                                <input type="tel" class="form-control" id="telefono_contacto" />

                                <!--Direccion-->
                                <label><b>Dirección</b></label>
                                <input type="text" class="form-control" id="direccion_contacto" />

                                <!--Email-->
                                <label><b>Correo electrónico</b></label>
                                <input type="email" class="form-control" id="email_contacto" />

                            </div>
                        </div>

                        <!--Modal footer-->
                        <div class="modal-footer" style="margin-top:1%">
                            <!--Boton para enviar el formulario-->
                            <button type="button" class="btn btn-primary"><b>Guardar cambios</b></button>

                            <!--Boton para cerrar-->
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>



    </div>
    <div class="col-md-12 Rtable Rtable--2cols Rtable--collapse">
        <h4 class='page-header'>Contactos</h4>

        <!--Tabla de contactos-->
        <table id="tblContact" class="table table-striped table-bordered table-hover table-responsive-md text-center">

            <!--Encabezados-->
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>

            </thead>

            <!--Aqui van los datos del select-->
            <tbody>
                @foreach (var contacto in Model)
                {
                    <tr>
                        @*Nombre*@
                        <td>@contacto.Nombre</td>
                        @*Telefono*@
                        <td>@contacto.Telefono</td>
                        @*Direccion*@
                        <td>@contacto.Direccion</td>
                        @*Email*@
                        <td>@contacto.Email</td>
                        <td class="text-center">
                            @*Este input llama el id del dato en la respectiva fila*@
                            <input type="hidden" id="cliente-@(contacto.Id)" value="@contacto.Id" />
                            @*el id de los botones editar y eliminar de cada fila tendra el id de cada fila llamada*@
                            <button type="button" class="btn-editar" name="editar_fila_tr" id="btneditar-@contacto.Id" data-toggle="modal" data-target="#modal_editar_contactos"><i class="far fa-edit" aria-hidden="true" style="color:green"></i></button>
                            <button type="button" class="btn-eliminar" name="eliminar_fila_tr" id="btneliminar-@contacto.Id" data-toggle="modal" onclick="borrarContacto()"><i class="fas fa-trash" aria-hidden="true" style="color:red"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Contact.js"></script>
    <script>
        function borrarContacto() {
            alert("Esta seguro de eliminar este contacto?");
        }
    </script>
}