﻿@media all and (max-width:500px) {
    table {
        width: 100%;
    }

    td {
        display: block;
        margin-bottom: 30px;
    }
    th {
        display: block;
        margin-bottom: 30px;
    }

    tr {
        display: block;
        width: 100%;
    }
}
